.banner {
    padding-top: 4rem;    /* For nav-bar */
}
.banner h1{
    line-height: 92px;
    font-size: 84px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: #0558D2;

}
.banner p{
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    margin-top: 24px;
}
#button-addon2{
    background-color: #0558D2;
}
.input-group #button-addon2{
    z-index: 0;
}

/* Services */
.our-services{
    padding: 4rem 0;
}
.our-services h2 {
    margin: 2rem 0;
}
.services{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.service {
    background-color: white;
    /* border: 1px solid lightgrey; */
    position: relative;
}
.service .text-wrapper {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.text-wrapper .blurry-bg {
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 00.25rem;
    padding: 4rem 8rem;
}
.service img {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 100%;
    object-fit: cover;
}
.text-wrapper button {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 6px 16px;
    border-radius: 00.25rem;
    width: max-content;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.text-wrapper button:hover {
    background-color: #1565c0;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}


/* @media screen and (max-width: 576px) {
    .service .text-wrapper {
        position: absolute;
        bottom: 2rem;
        background-color: rgba(0 0 0 / 0.2);
        color: white;
        width: 50%;
        height: 25%;
        border-radius: 1rem;
        display: grid;
        place-items: center;
        place-content: center;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
    }
    .service{
        background-color: white;
        box-shadow: 0 0 1rem lightgrey;
        display: grid;
        grid-template-columns: minmax(max-content, 1fr);
        place-items: center;
        position: relative;
    }
    .service .img-wrapper {
        order: -1;
    }
    .service img {
        max-width: 576px;
    }
    .service Button {
        background-color: white;
    }
} */